.transparent-table {
    --bs-table-bg: transparent;
    --bs-table-color: white;
    --bs-table-border-color: white;
}

.table-hover > tbody > tr:hover > * {
    color: white;
    --bs-table-color-state: var(--bs-table-hover-color);
    --bs-table-bg-state: var(--bs-table-hover-bg);
}

.table-group-divider {
    --bs-table-border-color: white;
}

p {
    white-space: pre-line
}

table {
    color: #e6ebed;
}

thead {
    border-top: 2px solid;
    background-color: white;

    tr {
        --bs-table-color: white;

        th {
            --bs-table-color: black;
        }
    }
}

tr {
    border-bottom: 2px solid;
}

/*TOPIC VIEW SECTION --------------------------------- */

.main-card {
    margin-top: 1rem;
    width: 100%;
    padding-left: 0px;
    border-radius: 1rem;
}

.answer-button {
    padding: .5rem;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .1rem;
}

.response-card {
    width: 65%;
    border-radius: 1rem;
}

.card-left {
    display: flex;
}

.card-right {
    display: flex;
    float: inline-end;
    margin-bottom: 2rem;
}